/* GENERALES
----------------------------------------------------------*/

#titulo
{
    text-align:center;
    font-size: small;
    width: 70%;
    margin: auto;    
}

#navcenter
{       
    padding: 20px 0 20px 0;
    text-align:left;
    width: 70%;
    margin: auto;
}
         
#navcontroles
{
    padding: 20px 0 20px 0;
    text-align:left;
    width: 70%;
    margin: auto;
}

#navBotones
{
    padding: 20px 0 20px 0;
    text-align:left;
    width: 70%;
    margin: 0px auto auto auto;
}

#navBotonmenor
{
    width: 22px;
    height: 26px;
    margin: auto;
    top: 150px;
    left: 350px;
}

#navBotonmayor
{
    width: 22px;
    height: 26px;
    margin: auto;
    top: 500px;
}
.boton
{
	border: thin solid #000000; padding: 2px; margin: 2px; background-color: #C11B17; font-family: Verdana; color: #FFFFFF;
}


fieldset
{    
    padding: 10px 5px 10px 5px;
    text-align:left;
    width: 100%;
    margin: auto;
}

.list
{
    list-style-type: none;
}


.label
{
    padding: 1px;
    width: 20%;
    float: left;
    text-align: right;    
}

/* Crear_Permisos
----------------------------------------------------------*/
.field .tb_Permiso
{
    width: 60%;
}

/* Eliminar_Permisos
----------------------------------------------------------*/
#ctrlCentrado
{
    text-align:left;
    width: 50%;
    margin: auto;
}


.tb_crearRol
{
    width: 60%;
}

/*Empleados
------------------------------------------------------*/

.field .txtbx_Empleado
{
    width: 55%;
}

.field .cmb_Empleado
{
    Height: 16px; 
    Width: 185px;
}

.field .dropdownlist
{
    width: 55%;
}

.field .listbox
{
    Height: 121px;
    Width: 127px;
}

/*

--------------------------- MENUS DE USUARIOS
*/

 #menuizq
    {
        position: absolute;
        text-align:left;
        width: 127px;
        top: 350px;
        left: 200px;
        padding: 1px;
        z-index: 0;
    }
    
    #menuder
    {
        position: absolute;
        text-align: right;
        width: 127px;
        top: 350px;
        left: 490px;
        padding:1px;
        z-index:0;
    }
    
    #menubotones
    {
        position: absolute;
        text-align: center;
        width: 127px;
        top: 350px;
        left: 350px;
        padding:1px;
        z-index:0;
    height: 121px;
}
