<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.0"/>

    <authentication mode="Forms">
      <forms
        name="teleton_sys"
        loginUrl="Login.aspx"
        cookieless="AutoDetect"
        defaultUrl="Default.aspx">
      </forms>
    </authentication>
    <authorization>
      <deny users="?"/>
    </authorization>
	</system.web>
  <connectionStrings>
      <add name="teletonEntities" connectionString="metadata=res://*/EntityModel.csdl|res://*/EntityModel.ssdl|res://*/EntityModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=my01.winhost.com;User Id=teletonback;database=mysql_14667_teletonback;password=2t0e1l1eton;Persist Security Info=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>
